body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.red{
    height: 600px;
    background-color: skyblue;
}
.jumbotron{
    background-color: rgb(126, 210, 182);
}
.rounded-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
h1{
    color: white;
    margin-bottom: 0;
    font-size: 2em;
}
.background{
    height: 100vh; /*100% de la hauteur de la fenêtre */
    background-image: url('https://www.shutterstock.com/image-vector/abstract-gradient-background-blur-pastel-260nw-1914966004.jpg');
    background-size: cover; /*Pour que l'image de fond couvre tout le conteneur */
    background-position: center; /*Pour centrer l'image de fond */
    align-items: flex-start;
    color: white;
    padding: 2px;
    margin-bottom: 50px;
}

.small-text {
    font-size: 22px;
}
.medium-text {
    font-size: 28px;
}
.large-text {
    font-size: 54px;
}
