
.accountSettingsMenu-upButton,
.accountSettingsMenu-downButton {
    width: 140px; /* Largeur fixe pour les boutons */
    background-color: rgb(119, 119, 119);
}

.accountSettingsMenu-image {
    max-width: 140px;
    max-height: 140px;
    margin: 1px 0;
}

.accountSettingsMenu-input{
    width: 140px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.accountSettingsMenu-text{
    color: white;
    font-style: bold;
    font-size: 1em;
}

.accountSettingsMenu-uploadButton{
    width: auto;
    height: auto;
    margin-top: 1vh;
}