<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendance</title>

    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="background">
        <div class="container-fluid">
                <div class="mb-5">
                    <h1><img src="https://cdn.intra.42.fr/users/d56814eecc72bc20185bb9376632cca2/emachrek.jpg" class="rounded-image" alt="le plus bg"> Transcendance</h1>
                </div>
        </div>
        
        <div class="text-center p-2  mb-5">
            <h1 class="large-text">Bienvenue a vous sur le meilleur site du monde</h1>
        </div>

        <div class="jumbotron mb-2">
            <div class="container">
                <h1 class="large-text">Transcendance</h1>
                <p class="medium-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, distinctio! Ipsam eum rem, porro sapiente mollitia ab totam recusandae possimus maxime earum, sed adipisci quaerat eligendi! Iusto quod impedit magnam?</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Se connecter</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a></p>
            </div>
        </div>
        <div class="card col-3">
            <img src="https://media1.ledevoir.com/images_galerie/nwd_132675_102056/image.jpg" class="card-img-top" width="200px" height="200px" alt="hehe">
          
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
    </div>
</body>
</html>